<%- layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center my-2">EDIT</h1>
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="/campgrounds/<%= foundCamp._id %>?_method=PATCH" novalidate
                class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%= foundCamp.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%= foundCamp.location %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required><%= foundCamp.description%></textarea>
                </div>

                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="price"
                        placeholder="0.00" name="campground[price]" value="<%= foundCamp.price %>" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add More Image(s)</label>
                    <input class="form-control" type="file" id="image" multiple name="image">
                </div>
                <div>
                    <h5> Delete Images </h5>
                    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                        <% foundCamp.images.forEach((image, i)=> { %>
                            <div class="col">
                                <div class="card">
                                    <img class="card-img" src="<%= image.thumbnail %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= image.filename %>" id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                <button class="btn btn-success my-3">Edit campground</button>
                <a class="btn btn-danger" href="/campgrounds/<%= foundCamp._id %>">cancel</a>
            </form>


        </div>
    </div>